/* catppuccin mocha palette */
@define-color rosewater       #f5e0dc;
@define-color flamingo        #f2cdcd;
@define-color pink            #f5c2e7;
@define-color mauve           #cba6f7;
@define-color red             #f38ba8;
@define-color maroon          #eba0ac;
@define-color peach           #fab387;
@define-color yellow          #f9e2af;
@define-color green           #a6e3a1;
@define-color teal            #94e2d5;
@define-color sky             #89dceb;
@define-color sapphire        #74c7ec;
@define-color blue            #89b4fa;
@define-color lavender        #b4befe;
@define-color text            #cdd6f4;
@define-color subtext1        #bac2de;
@define-color subtext0        #a6adc8;
@define-color overlay2        #9399b2;
@define-color overlay1        #7f849c;
@define-color overlay0        #6c7086;
@define-color surface2        #585b70;
@define-color surface1        #45475a;
@define-color surface0        #313244;
@define-color base            #1e1e2e;
@define-color mantle          #181825;
@define-color crust           #11111b;

@define-color background      @mantle;
@define-color button-hover    @surface0;

* {
  border: none;
  border-radius: 0;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
  font-family: "Symbols Nerd Font";
  background-color: transparent;
}

window#waybar {
  color: @text;
  border-radius: 6px;
  border: 2px solid @base;
  background: @background;
}

#custom-menu {
  min-width: 32px;
  min-height: 32px;
  margin: 4px;
  border-radius: 2px;
  transition-property: color, background-color;
  transition-duration: 0.2s;
  font-size: 18px;
  color: @green;
}

#custom-menu:hover {
  background: @button-hover;
  color: @peach;
}

#workspaces button {
  color: @surface0;
  padding: 4px;
  margin: 0;
  font-size: 12px;
  transition-property: color, background-color;
  transition-duration: 0.2s;
}

#workspaces button:hover {
  color: @yellow;
}

#workspaces button.active {
  color: @green;
}

#taskbar {
  margin: 4px 0px;
}

#taskbar button {
  border-radius: 2px;
  min-height: 32px;
  margin: 0 2px;
  min-width: 0px;
  padding: 0px 4px;
}

#taskbar button:hover,
#taskbar button.active {
  background: @button-hover;
}

#mpris {
  min-width: 32px;
  min-height: 32px;
  border-radius: 2px;
  margin: 4px 2px;
}
#mpris:hover {
  background-color: @button-hover;
}

#cava {
  padding: 0px 0px;
  margin: 9px 0px;
  font-family: monospace;
  background: linear-gradient(
    0deg,
    transparent 0%,
    transparent 6%,
    @sky 6%,
    @sapphire 24%,
    @blue 36%,
    @mauve 48%,
    @pink 60%,
    @maroon 72%,
    @red 92%,
    transparent 92%,
    transparent 100%
  );
  color: @background;
  text-shadow: 0px -2px 0px rgba(0, 0, 0, 0.377);
}

#tray {
  margin: 4px 2px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 2px;
}
#tray > * > image {
  margin: 0px;
  min-height: 32px;
  min-width: 32px;
  border-radius: 2px;
}
#tray > widget {
  border-radius: 2px;
}
#tray > widget:hover {
  background-color: @button-hover;
}

#pulseaudio {
  min-width: 32px;
  min-height: 32px;
  border-radius: 2px;
  margin: 4px 2px;
}
#pulseaudio:hover {
  background-color: @button-hover;
}

#backlight {
  min-width: 32px;
  min-height: 32px;
  border-radius: 2px;
  margin: 4px 2px;
}
#backlight:hover {
  background-color: @button-hover;
}

#power-profiles-daemon {
  min-height: 32px;
  min-width: 32px;
  border-radius: 2px;
  margin: 4px 2px;
}
#power-profiles-daemon:hover {
  background-color: @button-hover;
}

#power-profiles-daemon.performance {
  color: @red;
}

#power-profiles-daemon.balanced {
  color: @blue;
}

#power-profiles-daemon.power-saver {
  color: @green;
}

#battery {
  margin: 4px;
  border-radius: 2px;
  min-width: 32px;
}
#battery.good {
  color: @green;
}
#battery.warning {
  color: @yellow;
}
#battery.critical {
  color: @red;
}

#clock {
  margin: 4px;
  padding: 0 10px;
  border-radius: 2px;
  font-size: 18px;
  font-weight: bold;
}

decoration {
  margin: 0;
  padding: 0;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 4px @base;
}

menu {
  border-radius: 4px;
  border: 2px solid @surface0;
  background-color: @base;
  padding: 4px;
}
menu menuitem {
  padding: 4px 8px;
  border-radius: 2px;
}
menu menuitem:hover {
  background-color: @button-hover;
}

separator {
  background-color: @surface0;
  min-height: 2px;
  border-radius: 2px;
  margin: 4px 0;
}
separator + separator {
  opacity: 0;
  min-height: 0px;
  margin: 0;
}
separator:last-child {
  margin-bottom: 0;
}

tooltip {
  background-color: @base;
  border-radius: 4px;
  border: 2px solid @surface0;
}
tooltip label {
  padding: 0px 4px;
}
tooltip > * {
  background-color: transparent;
  border: none;
}
